In [1]:

# : = indenatation ; it sepereate one line to another 

x = 5
if x > 10:
    print("x is greater than 10")
else:
    print("x is less than or equal to 10")

x is less than or equal to 10

In [7]:
marks = int(input("enter your marks "))
if marks >= 80 :    
    print("you will be a part of A0 batch")
elif marks >=60 and marks <80:
    print("You will be a part of A1 batch")
elif marks >= 40 and marks < 60:
    print("you will be part of A2 batch")
else :
    print("You will be part of A3 batch")

you will be a part of A0 batch

In [5]:
price = int(input("enter the price"))
if price>1000 :
    print("i will not purchase")
else:
    print("i will purchase")

i will purchase

In [13]:
price=int(input('enter the price'))
if price>1000:
    print('i will not purchase')
    if price>5000:
        print("this is too much ")
    elif price<2000:
        print('its ok')
elif price<1000:
    print('i will purchase')

i will purchase

In [14]:
l = [1,2,3,4,5,6,7,8]

# isme sare index position ko +1 se add  krna hai 

l[0]+1

2

In [18]:
l1=[]
l1.append(l[0]+1)

In [19]:
l1

[2]

In [20]:
""" upper case ko easily loop ke thorugh kr skte h

for loop iterate krega jitne v elements us loop me pade hai 
yha hm i ek variable liye h jise kuchh v liya ja skta hai 

"""



for i in l:
    print(i)

1
2
3
4
5
6
7
8

In [21]:
# now upper question add+1 in every index 

l1=[]

for i in l:
    print(i+1)
    l1.append(i+1)
l1

2
3
4
5
6
7
8
9

[2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [25]:
l=['pank','kumar','pwskills','course']

In [32]:
# convert everything in upper case and make a list
l1=[]
for i in l :
    print(i)
    l1.append(i.upper())

pank
kumar
pwskills
course

In [28]:
l1

['PANK', 'KUMAR', 'PWSKILLS', 'COURSE']

In [42]:
l3=[1,2,3,4, 'pankaj', 234,34.356,'abc']

# create two seperate list one contain intiger & another str

In [43]:
l3_num=[]
l3_str=[]

for i in l3 :
    if type(i)==int or type(i)==float:
        l3_num.append(i)
    else :
        l3_str.append(i)

In [44]:
l3_num

[1, 2, 3, 4, 234, 34.356]

In [45]:
l3_str

['pankaj', 'abc']